.logo{
	width: 100px;
	height: 100px;
	
}


.text-center{
	text-align: center;
}

p {
  word-break: break-all;
}

.img-size-fijo{
	width: 150px;
	height: 150px;
}

.fixed-panel {
  min-height: 60px;
  max-height: 60px;
  overflow-y: hidden;
}

.fixed-panel-40 {  
  height: 40px;
  overflow-y: hidden;
}

.fixed-panel-79
{
  height:79px;
  overflow-y:hidden;  
}

.fixed-panel-340
{
  height:340px;
  overflow-y:hidden;  	
}

.fixed-panel-380
{
  height:380px;
  overflow-y:hidden;  	
}

.fixed-panel-180
{
  height:180px;
  overflow-y:hidden;
}

.fixed-height-150
{
 max-height:150px;	
}

.avatar-circle {
  width: 50px;
  height: 50px;
  background-color: gray;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.avatar-circle:hover {
  background-color: #cfa968 ;
  cursor:pointer;
  
}
.avatar-circle >  a {
  text-decoration:none !important;
}

.initials {
  position: relative;
  margin-top:0px;
  top: 8px; /* 25% of parent */
  font-size: 25px; /* 50% of parent */
  line-height: 25px; /* 50% of parent */
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}


#page-wrapper {
  min-height:500px;	
}


.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#image_show {
  padding-top:20px;
  border-style:none;
  margin: 0 auto;
}

.form-date {
  width:100px !important;	
}
.textarea-content{
	resize:vertical;
}

.card-promotion {
  min-height:160px !important;
  margin-bottom:5px;
}

.jrm-toggle{
	text-decoration: none !important;
}

.bg-grayed {
  background-color:burlywood;	
}

.banner {
   box-shadow:0px 1px 5px #1c1c1c;
   background-color: rgba(0, 0, 0, 0.30);
   text-shadow:0 1px 0 #000;
   color:white;
}
.login-background {
   padding-top:50px;
   padding-bottom:50px;   

}
.login-background label,
.login-background a.login {  
  color:white;	
  text-shadow:0 1px 0 #000;
}

.find-lawyer {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 100px;
    height: 100px;
    opacity: 0.9;
}
.find-lawyer:hover {
    border-color: #f1f1f1;
}

.fixed-find-lawyer {
	position: fixed;
	top:60px;
	right:10px;
	z-index:100;
}
.inline-image {	
	float:left;
	width:400px;
	margin-right:10px;
}

.resize-vertical{
	resize:vertical;
}

.affix {
      top:50px;
      width: 100%;
      z-index: 9999 !important;
}
  
.counter{
   font-size:11px;
   float:left;
}

.tags {
   display:inline-block;
}



/* Add rounded corners to left end of the anchor tag */	
.post-tag  {		
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	
	float: left;
	position: relative;
	width: auto;
	height: 40px;
	margin-left: 20px;
	padding: 0 12px;
	line-height: 40px;
	background: #d99d38;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;	
}

/* Position right and show only left border of triangle  */
.post-tag:before {		
	right: -15px;	
	border-color: transparent transparent transparent #d99d38;
	border-width: 20px 0 20px 15px;
	
	content: "";
	position: absolute;
	top: 0;		
	width: 0;
	height: 0;		
	border-style: solid;	
}

/* Fix the circle between anchor box and triangle right to it  */
.post-tag:after {		
	right: -2px;
	
	content: "";
	position: absolute;
	top: 18px;
	width: 4px;
	height: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
	-moz-box-shadow: -1px -1px 2px #d99d38;
	-webkit-box-shadow: -1px -1px 2px #d99d38;
	box-shadow: -1px -1px 2px #d99d38;
}
.post-tag:hover {
	background: #996633;
	cursor:pointer;
}	

.post-tag:hover:before {
	border-color: transparent transparent transparent #996633;
	cursor:pointer;
}



.special {
   height:100%;
   width:100%;
   display:inline-block;
   margin:10px 10px;   
   color:gray;
}
.special:hover {
  text-decoration:none;	
}
.special > div {
  width:100%;	
}


.list-group-item.active, 
.list-group-item.active:hover, 
.list-group-item.active:focus
{
	 background-color: lightgrey;
	 border-color:#d5b47b;
}